{% extends 'base.html' %}
{% block content %}

<div class="overflow-x-auto rounded-lg shadow w-full">
    <div class="container mx-auto py-8">
        <center>
            <h1 class="text-2xl font-semibold mb-4">Transactions List </h1>

            <form class="mb-4" method="post">
                <input type="text" name="search" class="px-2 py-1 border border-gray-300 rounded" placeholder="Search by member name or transaction id ">
                <button type="submit" class="ml-2 px-4 py-1 bg-blue-500 text-white rounded hover:bg-blue-600">Search</button>
            </form>
        </center>
        <table class="w-full bg-white border border-gray-200 border-collapse">
            <thead>
                <tr class="bg-gray-100">
                    <th class="py-2 px-4 text-left border border-gray-200">Transaction Id</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Book</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Member</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Issue Date</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Return Date</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Rent Fee</th>
                    <th class="py-2 px-4 text-left border border-gray-200">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in fees %}
                <tr class="{{ 'bg-gray-50' if loop.index is even else 'bg-white' }}">
                    <td class="py-2 px-4 border border-gray-200">{{ fee['Transaction Id'] }}</td>
                    <td class="py-2 px-4 border border-gray-200">
                        <a href="/view_book/{{ fee.book_id }}" class="text-green-500" title="Show More details">{{ fee['Book Title'] }}</a>
                    </td>
                    <td class="py-2 px-4 border border-gray-200">
                        <a href="/view_member/{{ fee.stu_id }}" class="text-blue-500" title="Show More details">{{ fee['Student Name'] }}</a>
                    </td>
                    <td class="py-2 px-4 border border-gray-200">{{ fee['Issue Date'].date() }}</td>
                    <td class="py-2 px-4 border border-gray-200">
                        {% if fee['Return Date'] %}
                            {{ fee['Return Date'].date() }}
                        {% else %}
                            <p class="text-red-500">Not returned</p>
                        {% endif %}
                    </td>
                    <td class="py-2 px-4 border border-gray-200">{{ fee['Rent Fee'] }} ₹</td>
                    <td class="py-2 px-4 border border-gray-200">
                        <a class="ml-2 px-4 py-1 bg-green-500 text-white rounded hover:bg-green-600" href="returnbook/{{ fee['Transaction Id'] }}">Manage</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
